<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example of Page Composition</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
     {{> esi_header }}

     <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">An example of Composition Options</h1>        
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          {{> withpage}}

          {{> fragment}}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <div class="sidebar-module sidebar-module-inset">
            
            {{> esi_sidebar }}

          </div>
          
          <div class="sidebar-module sidebar-module-inset">
            
            {{> ajax_sidebar }}            

          </div>

          <div class="sidebar-module sidebar-module-inset">
            
            <h4>ESI include of a slow page</h4>

            {{> esi_maxwait }}            

          </div>

          <div class="sidebar-module sidebar-module-inset">
            
            <h4>ESI include of a 500 page</h4>

            {{#esi.enabled}}
              <!--esi        
                   <esi:include src="/esi_error?error=500" onerror="continue"/>       
              -->
            {{/esi.enabled}}
            {{^esi.enabled}}
              <h4 class='error'>ESI not detected</h4>
            {{/esi.enabled}}          

          </div>


          <div class="sidebar-module sidebar-module-inset">
            
            <h4>ESI include of a 404 page</h4>

             {{#esi.enabled}}
              <!--esi        
                   <esi:include src="/esi_error?error=404" onerror="continue"/>       
              -->
            {{/esi.enabled}}
            {{^esi.enabled}}
              <h4 class='error'>ESI not detected</h4>
            {{/esi.enabled}}          

          </div>

        </div>

      </div>

    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  </body>
</html>